body, html{
    font-family: monospace;
    margin: 0;
}

#h1Id{
    font-family: monospace;
    font-size: 4.5rem;
    color: #2f3ba8;
    margin-left: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.pClass{
    font-family: monospace;
    color: #666dad;
    font-size: 1.6rem;
    margin-left: 3.5rem;
    font-weight: 400;
    padding-top: 2rem;
}

#header{
    background-color: black;
    height: 10%;
}

#content{
    background-image: url("rumrejsenudenmånerpng.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;    
}

#pris{
    font-family: monospace;
    font-size: 2rem;
    height: 10.1rem;
    width: 10.1rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0px solid black;
    position: absolute;
    top: 36%;
    left: 26.8%;
    background-image: url("måneknap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#pris:hover{
    cursor: pointer;
}

#tilmelding{
    font-family: monospace;
    font-size: 2rem;
    height: 13.6rem;
    width: 13.6rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0px solid black;
    position: absolute;
    top: 14.7%;
    left: 50%;
    background-image: url("måneknap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tilmelding:hover{
    cursor: pointer;

}

#livestream{
    font-family: monospace;
    font-size: 1.7rem;
    height: 13.7rem;
    width: 13.7rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0px solid black;
    position: absolute;
    top: 62.2%;
    left: 62.2%;
    background-image: url("måneknap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#livestream:hover{
    cursor: pointer;
}

#forventninger{
    font-weight: 500;
    font-family: monospace;
    font-size: 0.9rem;
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0px solid black;
    position: absolute;
    top: 79%;
    left: 82.4%;
    background-image: url("måneknap.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#forventninger:hover{
    cursor: pointer;
}

