body, html{
    font-family: monospace;
    margin: 0;
}

#h1Id{
    font-family: monospace;
    font-size: 4.5rem;
    color: #2f3ba8;
    margin-left: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

#header{
    background-color: black;
    height: 10vh;
}

#content{
    background-image: url("rumrejsenbaggrund.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;    
}

a{
    text-decoration: none;
    color: unset;
}